.knapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}
.liste {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 1%;
  margin-left: 2%;
}
.ris {
  background-color: rgb(197, 181, 181);
  border: solid black;
  grid-column: 1/2;
  grid-row: 1/2;
  margin-bottom: 1%;
}
.marinade {
  background-color: rgb(197, 181, 181);
  border: solid black;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-bottom: 1%;
}
.sauce {
  background-color: rgb(197, 181, 181);
  border: solid black;
  grid-column: 3/3;
  grid-row: 1/2;
  margin-bottom: 1%;
  margin-right: 8%;
}

body {
  margin-left: 0%;
  margin-right: 0%;
}
header {
  color: orange;
  text-align: center;
}
.knapper button {
  cursor: pointer;
  background-color: aliceblue;
  border: none;
  font-style: italic;
}
body {
  background-color: bisque;
}
.knapper p {
  font-weight: bold;
}
h2 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 1%;
}
.ingredienser ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: rgb(197, 181, 181);
  border: solid black;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  background-color: rgb(197, 181, 181);
  border: solid black;
  margin-inline: 5%;
}
.text {
  grid-column: 1/2;
  margin-left: 5%;
  margin-right: 20%;
}
.intro img {
  height: 300px;
  margin-left: 22%;
}
.billeder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.billeder {
  margin-left: 13%;
}
.howto {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.howtopic {
  margin-top: 1%;
  margin-left: 35%;
  height: 130px;
}
.tid {
  display: grid;
  grid-template-areas:
    "overskrift overskrift overskrift"
    "aside1 tekst aside2"
    "fodnote fodnote fodnote";
}
.overskrift {
  grid-area: overskrift;
}
.aside1 {
  grid-area: aside1;
}
.aside2 {
  grid-area: aside2;
}

.tekst {
  background-color: rgb(197, 181, 181);
  border: solid black;
  grid-area: tekst;
  width: 40vw;
  margin-right: 5vw;
  margin-left: 5vw;
}
.fodnote {
  grid-area: fodnote;
}
.aside1 img {
  width: 20vw;
  margin-left: 5vw;
}
.aside2 img {
  width: 20vw;
  margin-right: 5vw;
}
.tekst p,
h3 {
  width: 70%;
  margin: auto;
}
.fodnote h2 {
  margin-top: 3%;
  text-align: center;
}
.liste h3 {
  margin-right: 30%;
}
.ingredienser h3 {
  margin-right: 30%;
}
h1 {
  background-color: antiquewhite;
}
h2 {
  background-color: antiquewhite;
}
